a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5
    ubuntu 15
    color #3C3C3C

h1
    color $accent
    ubuntu 48 light
    margin 0
    text-transform uppercase
    +mobile()
        font-size 32px
