.artigos-links
    margin-top 15px
    a
        display block
        width 100%
        margin-bottom 10px
        padding 10px
        padding-right 85px
        background #F4D7D9
        color $primaryShade
        transition background .3s, color .3s
        ubuntu 18 bold italic
        text-transform uppercase
        position relative
        min-height 74px
        &:after
            content ''
            position absolute
            width 60px
            height 60px
            top 6px
            right 8px
            background $img('icone-pdf.png') no-repeat center
        &:hover
            background $primaryShade
            color #fff
    +mobile()
        margin-top 10px
        a
            font-size 16px
            min-height 53px
            &:after
                width 40px
                height 40px
                background-size 100% auto
                right 6px

.pagination
    width 100%
    display block
    padding 0
    margin 15px 0 0
    list-style-type none
    text-align center
    li
        display inline-block
        background $accent
        border-radius 100%
        width 20px
        height 20px
        line-height 20px
        margin 0 3px
        ubuntu 12 bold
        color $primaryShade
        text-align center
        transition background .3s
        &:first-child
        &:last-child
            display none
        &.active
            background $accent !important
            color #fff
        &:hover
            background lighten($accent, 10)
        a
        span
            display block
            width 100%
            height 100%
            text-align center
