.contato
    clearfix()
    h1
        margin-bottom 15px
        +mobile()
            margin-bottom 10px
    .imagens
        width 100%
        margin-bottom 20px
        clearfix()
        img
            display block
            width 50%
            float left
        +mobile()
            img
                width 100%
    .informacoes
        width 47.5%
        float left
        +mobile()
            width 100%
        p:first-child
            margin-top 0
        p
            strong
                color $primary
        a
            color $primaryShade
            &:hover
                text-decoration underline
        .telefones
            font-size 0
            span
                ubuntu 18 bold
                +mobile()
                    font-size 16px
                &:after
                    content '\00b7'
                    margin 0 .5em
                &:last-child:after
                    display none
    #form-contato
        width 47.5%
        float right
        input
        textarea
            +placeholder()
                color #000
            display block
            width 100%
            background #F5DBDD
            border 0
            outline 0
            margin-bottom 2px
            padding 5px 7px
            ubuntu 13 normal italic
            color #000
            &[type='submit']
                background $primary
                color #fff
                font-weight 700
                padding 8px
                transition background .3s
                &:hover
                    background $primaryShade
        textarea
            resize none
            height 170px
        #form-contato-response
                display none
                width 100%
                color $primaryShade
                border 2px solid $primary
                padding 10px
                text-align center
                ubuntu 12 bold
                text-transform uppercase
                margin-top 6px
        +mobile()
            width 100%
            margin 20px 0 0
    .googlemaps
        float left
        clear both
        width 100%
        margin-top 40px
        h2
            margin 0 0 .5em
            ubuntu 30 light
            color $accent
        +mobile()
            margin-top 20px
            h2
                font-size 25px
                margin-bottom 8px
        .endereco
            margin 0 0 1.2em
            p
                margin 0
        iframe
            width 100%
            height 500px
            +tablet()
                height 300px
            +mobile()
                height 200px
