.home
    clearfix()
    .banners
        width 100%
        height 390px
        position relative
        +tablet()
            height 320px
        +mobile()
            height 250px
        .slide
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background-size cover
            background-repeat none
            background-position center
    .citacoes
        position relative
        float right
        right 0
        width 570px
        top -55px
        margin-bottom -20px
        z-index 102
        +tablet()
            width 85%
        +mobile()
            width 100%
            top 0
            margin-bottom 25px
        .slide
            background $primary
            width 100%
            img
                display block
                float left
            p
                display block
                float left
                color #fff
                padding 10px
                margin 0
                ubuntu 16 light italic
                span
                    display block
                    margin-top 8px
                    ubuntu 12 normal italic
                width calc('100% - 100px')
    .textos
        clearfix()
        padding 45px 0 70px 50px
        +tablet()
            padding 40px 40px 45px
        +mobile()
            padding 20px 20px 25px
        p
            font-size 16px
            +mobile()
                font-size 15px
            &:last-child
                margin-bottom 0
        h3
            margin 0
            ubuntu 16 light
            color $primary
            +mobile()
                font-size 14px
        h2
            margin .5em 0
            ubuntu 28 light
            color $primary
            +mobile()
                font-size 24px
        .left
            width 65%
            float left
            padding 15px 40px 15px 0
            border-right 1px solid $accent
            +below($tablet)
                width 100%
                padding 0 0 30px
                border-right none
                border-bottom 1px solid $accent
        .right
            width 35%
            float right
            padding-left 40px
            h2
                margin-top 47px
            +below($tablet)
                width 100%
                padding 30px 0 10px
                h2
                    margin-top 0
            a
                ubuntu 14 bold italic
                color $primary
                display block
                min-height 24px
                padding 5px 0 5px 32px
                transition color .3s
                background $img('seta-agende.png') no-repeat center left
                &:hover
                    color $primaryShade
