.main
    .imagem
        width 100%
        height 200px
        background-size cover
        background-position center
        +mobile()
            height 140px
    .texto
        padding 40px 0 40px 60px
        +tablet()
            padding 40px 40px 45px
        +mobile()
            padding 20px 20px 25px
